*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #300202;
    font-family: 'Play', sans-serif;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.canvas-container{
    text-align: center;
    align-content: center;
    
}

.score{
    text-align: center;
    font-family: 'Play', sans-serif;
}

.canvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
}